<html>
<head>
  <script src="./img/jquery-3.3.1.min.js"></script>
  <title>{{ .title }}</title>
  <style>
    body {
      text-align: center;
      background-image: url(./img/bg.png);
      color: #fff;
      margin: 0;
      padding: 0;
      text-align: center;
      min-height: 600px;
    }
    input {
      margin: 10px;
      border: 1px solid #acacac;
      background-color: #eee;
      padding: 10px;
      border-radius: 5px;
    }
    .header {
      background: rgba(0,0,0,.8);
      color: #fff;
      width: 100%;
      padding: 10px;
      height: 75px;
    }

    .header h1 {
      width: 550px;
      float: left;
      margin-left: 20px;
    }

    .logo {
      float: left;
      margin: 10px 30px;
    }

    .Author {
      float: right;
      padding: 20px;
    }

    .Author a {color: #fff;}

    .verion {
      font-size: 12px;
      color: #bbb;
      padding-left: 20px;
    }

    .footer {
      height: 200px;
      width: 100%;
      clear: both;
      background-color: #252525;
      position: relative;
      margin-top: 50px;
    }
    .footer img {
      height: 40px;
      float: left;
      margin: 20px;
    }
    .redblock {
      padding: 30px;
      font-size: 25px;
      line-height: 40px;
      position: absolute;
      width: 360px;
      height: 200px;
      background-color: #c00;
      color: #fff;
      right: 20px;
      bottom: 0;
      /* margin-top: -20px; */
    }
    .redblock a {
      color: #fff;
    }
    #content {
      min-height: 600px;
      clear: both;
      width: 100$;
    }
    .redhatcreds {
      width: 100%;
      clear: both;
      text-align: center;
      color: #fff;
      position: absolute;
      bottom: 0;
    }

    .redhatcreds a {
      color: #fff;
    }

    .logosb {
      background-color: #fff;
      border-radius: 5px;
      margin: 20px;
      width: 300px;
      float: left;
      text-align: cemter;
    }


    .statbox h2 {
      color: #c00
    }
    .statbox {
      display: none;
      border: 1px solid #acacac;
      color: #000;
      padding: 20px;
      float: left;
      clear: left;
      width: 30%;
      margin: 7px;
      font-size: 20px;
      background-color: rgba(255,255,255,.8);
      box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    }

    #searchperson {
      border: 0 ;
      border-bottom: 1px solid #999;
      background-color: transparent;
      font-size: 30px;
      width: 90%;
    }

    .searcharea {
      width: 100%;
      float: right;
      margin: 20px;
      min-height: 500px;
    }

    #searchres {
      text-align: center;
      min-height: 500px;
      float: left;
      font-size: 25px;
      width: 90%;
      border-radius: 0;
      color: #bbb;
      padding: 10px;
      margin: 10px;
    }

    .sres {
      color: #777;
      font-size: 20px;
      text-align: left;
      margin: 10px;
      cursor: pointer;
      text-align: center
    }

    .movielist {
      display: none;
      font-size: 18px;
      color: #fff;
      background-color: #00394f;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div  class='header'>
    <div class='logo'>
      <img src='./img/logo.png' />
    </div>
	<h1>RedHat Istio on Openshift Demo<span class='verion'>{{ .version}}</span></h1>
  <div class='Author'>
    Written by: <a href='mailto:Liran@rct.co.il'>Liran Cohen</a>
  </div>
</div>
<div id='content'>
  <div class='searcharea'>
    <div class='searchline'>
      <input type='text' name='searchperson' id='searchperson' placeholder="Search Movie or person">
    </div>
    <div id='searchres'>

    </div>
  </div>
  <div class='statbox' id='dbcount'>
    <h2>{{ .TotalTitles }}</h2>
    <span id='totmovies'></span> Movies
  </div>

  <div class='statbox' id='countactors'>
    <h2>{{ .ActorCounter }}</h2>
    <span id='totactors'></span> Crew
  </div>
  <div class='statbox' id='countcategories'>
    <h2>{{ .CategoryCount }}</h2>
    <span id='personcategory'></span>
  </div>



</div>


<div class='footer'>
  <div class='logosb'>
  <img src='./img/openshift.png'>
  <img src='./img/istioio.png'>
</div>
<a class='redhatcreds' href='http://www.resdhat.com'>RedHat</a>
<div class='redblock'>
Presentation by:<br/>
<a href='https://www.linkedin.com/in/orgadkimchi/'>Orgad Kimchi</a>
&
<a href='https://www.linkedin.com/in/lirancohen/'>Liran Cohen</a>

</div>
</div>
<script type='text/javascript'>
$("#searchres").on("click",".sres",function() {
  $("#"+this.id+" > .movielist").toggle();
})
$("#searchperson").keyup(function(){
  $("#searchres").html("Searching...");
  var searchstring=$("#searchperson").val();
  if (searchstring.length>3) {
    var request = $.ajax({
      url: "/searchperson",
      type: "POST",
      data: {action:"searchperson", searchstring:searchstring},
      success: function(ddt, textStatus, jqXHR)
        {
        $("#searchres").html(ddt);
        return false;
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
          console.log("Error");
        }
      });
  } else {
    $("#searchres").html("<h2>Please enter at least 3 letters to start searching");
  }
});

// setInterval(dbcount, 1000);

function dbcount() {
  // $("#totmovies").html("---");
  var request = $.ajax({
    url: "/dbcount",
    type: "POST",
    data: {action:"dbcount"},
    success: function(ddt, textStatus, jqXHR)
      {
      $("#totmovies").html(ddt);
      return false;
      },
      error: function (jqXHR, textStatus, errorThrown)
      {
        console.log("Error");
      }
    });

    // $("#totactors").html("---");
    var request = $.ajax({
      url: "/actorcount",
      type: "POST",
      data: {action:"actorcount"},
      success: function(ddt, textStatus, jqXHR)
        {
        $("#totactors").html(ddt);
        return false;
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
          console.log("Error");
        }
      });

      var request = $.ajax({
        url: "/personcategory",
        type: "POST",
        data: {action:"personcategory"},
        success: function(ddt, textStatus, jqXHR)
          {
          $("#personcategory").html(ddt);
          return false;
          },
          error: function (jqXHR, textStatus, errorThrown)
          {
            console.log("Error");
          }
        });

  }
</script>
</body>
</html>
